.checkbox__input{
  width: 0;
  height: 0;
}
.checkbox__checkmark{
  width: 30px;
  height: 26px;
  margin-top: 7px;
  background-image: url("img/galochka.svg");
  opacity: 0;

  transition: opacity 0.2s ease-in-out;
}

.checkbox{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  background-color: #EEEEEE;
  border-radius: 6px;

}
.row:has(.checkbox__input:checked) {

  .checkbox__checkmark{
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 1;
  }

  .form__input-2{
    background-color: #F2F0F9;
    pointer-events: all;
  }
}